@{
    

  void ChefPlusStringForEach(string[] listItems, string style) 
    {
        <ul>
        foreach (var listItem in listItems)
        {
            <li class="@style">listItem</li>
        }
        </ul>
    }
}