@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Index">Go back!</a>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>

<div>
    <h3>Some articles in Welcome </h3>
    <p> Augue euismod. In pharetra eu felis vel dictum. Vivamus ac neque leo.</p>
    <h4>More articles in Welcome </h4>
    <p> In pharetra eu felis vel dictum. Vivamus ac neque leo. Augue euismod.</p>
</div>

<table>
    <tr>
        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis nunc, tristique suscipit orci vel, molestie rhoncus erat. Fusce a enim maximus, malesuada metus vel, congue tellus. Aliquam efficitur mauris vel ante sagittis, ut suscipit arcu imperdiet. Etiam nec diam ex. Etiam eleifend</th>
        <th><div class="hw_talbe_d1" style="background-color:#75baff;">odio, malesuada vel lacus laoreet, tempus volutpat orci. Suspendisse ante purus, imperdiet sit amet tellus eget, pellentesque varius ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi tempor ante at urna finibus iaculis quis ut leo. Nullam in</div></th>
        <th>Cras sollicitudin ipsum vitae nisi porta, a mattis justo rutrum. Duis faucibus viverra dolor, ac venenatis mi mollis eu. Suspendisse facilisis tortor ante, vel pulvinar metus sagittis nec. Donec rutrum feugiat orci ac aliquet. Mauris vehicula magna pellentesque tortor vehicula, sit amet </th>
    </tr>
    <tr style="margin-top:50px;">
        <th>hendrerit augue euismod. In pharetra eu felis vel dictum. Vivamus ac neque leo. Donec auctor erat ac justo laoreet semper. Praesent sit amet tortor ante. Duis odio massa, tristique id bibendum in, rutrum eget purus. Donec eget velit vel metus tempor porta. Vivamus ac lectus at quam varius fringilla.</th>
        <th>Quisque tortor ligula, tempor a urna aliquam, auctor consectetur dolor. Phasellus eget risus vel est efficitur cursus quis sit amet odio. Nunc pellentesque feugiat velit sit amet facilisis. Vivamus egestas dui et malesuada posuere. Aenean non egestas arcu. Morbi commodo semper elit, vel rutrum tellus pharetra ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</th>
        <th><div class="hw_talbe_d1" style="background-color:#faffa3;">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer fringilla nisl nisl, maximus posuere metus ullamcorper non. Quisque sed ex at lacus porttitor viverra porttitor non tellus. Donec sit amet libero dictum, commodo urna ut, porta neque.</div> </th>
    </tr>
    <tr ">
        <th><div class="hw_talbe_d1" style="background-color:#faffa3;">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer fringilla nisl nisl, maximus posuere metus ullamcorper non. Quisque sed ex at lacus porttitor viverra porttitor non tellus. Donec sit amet libero dictum, commodo urna ut, porta neque.</div> </th>
        <th>odio, malesuada vel lacus laoreet, tempus volutpat orci. Suspendisse ante purus, imperdiet sit amet tellus eget, pellentesque varius ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi tempor ante at urna finibus iaculis quis ut leo. Nullam in </th>
        <th>Cras sollicitudin ipsum vitae nisi porta, a mattis justo rutrum. Duis faucibus viverra dolor, ac venenatis mi mollis eu. Suspendisse facilisis tortor ante, vel pulvinar metus sagittis nec. Donec rutrum feugiat orci ac aliquet. Mauris vehicula magna pellentesque tortor vehicula, sit amet </th>
   </tr>
    <tr style="margin-top:50px;">
        <th>hendrerit augue euismod. In pharetra eu felis vel dictum. Vivamus ac neque leo. Donec auctor erat ac justo laoreet semper. Praesent sit amet tortor ante. Duis odio massa, tristique id bibendum in, rutrum eget purus. Donec eget velit vel metus tempor porta. Vivamus ac lectus at quam varius fringilla.</th>
        <th>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer fringilla nisl nisl, maximus posuere metus ullamcorper non. Quisque sed ex at lacus porttitor viverra porttitor non tellus. Donec sit amet libero dictum, commodo urna ut, porta neque. </th>
        <th><div class="hw_talbe_d1" style="background-color:#faffa3;">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer fringilla nisl nisl, maximus posuere metus ullamcorper non. Quisque sed ex at lacus porttitor viverra porttitor non tellus. Donec sit amet libero dictum, commodo urna ut, porta neque.</div> </th>
   </tr>
    <tr>
        <th><div class="hw_talbe_d1" style="background-color:#75baff;">odio, malesuada vel lacus laoreet, tempus volutpat orci. Suspendisse ante purus, imperdiet sit amet tellus eget, pellentesque varius ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi tempor ante at urna finibus iaculis quis ut leo. Nullam in</div></th>
        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis nunc, tristique suscipit orci vel, molestie rhoncus erat. Fusce a enim maximus, malesuada metus vel, congue tellus. Aliquam efficitur mauris vel ante sagittis, ut suscipit arcu imperdiet. Etiam nec diam ex. Etiam eleifend</th>
        <th>odio, malesuada vel lacus laoreet, tempus volutpat orci. Suspendisse ante purus, imperdiet sit amet tellus eget, pellentesque varius ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi tempor ante at urna finibus iaculis quis ut leo. Nullam in </th>
    </tr>
</table>