@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Dietician Website App</h1>
    <h3> Pretty Sure you want to be healthy.</h3>
</div>

<partial name="_partialveiwindex.cshtml" />

<div style="width:1200px;height: 400px;display: flex;">
<div style="background: #d6ffe2;width:750px; display: flex;justify-content:center;align-items:center;">You will find there Recipes</div>
<div style="background: #d6f0e2;width:750px;display: flex;justify-content:center;align-items:center;">Search for Chefs</div>

</div>

<div style="width:1200px;height: 100px;display: flex;">
<div style="background: #d6ffe2;width:500px;display: flex;justify-content:center;align-items:center;">Multiple categorys</div>
<div style="background: #d6ffe2;width:500px;display: flex;justify-content:center;align-items:center;">Even more than u can think of</div>
<div style="background: #d6f0e2;width:500px;display: flex;justify-content:center;align-items:center;">Lorem ipsum non omnis</div>

</div>
